# 安全配置
# 生成一个安全的密钥: openssl rand -hex 24
SECRET_KEY=your_secret_key_here

# 应用配置
FLASK_DEBUG=False
FLASK_HOST=0.0.0.0
FLASK_PORT=5050

# 域名配置（可选，用于SSL证书生成）
DOMAIN_NAME=vocabulary.fueny.cn

# Docker容器配置（可选）
# 如果需要限制容器资源使用，取消下面的注释并设置值
# DOCKER_MEM_LIMIT=512m
# DOCKER_CPU_LIMIT=2
