# 设置默认行为，以防人们没有设置core.autocrlf
* text=auto

# 明确声明应该被规范化和转换为本地行尾的文本文件
*.py text
*.js text
*.html text
*.css text
*.md text
*.txt text

# 声明二进制文件，不应该被修改
*.xlsx binary
*.xls binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
